<app-toolbar [canvas]="canvas"  [graph]="canvas.graph" [project]="project" (onSave)="handleSave()" [(scale)]="scale"></app-toolbar>
<div class="body">
    <app-side-bar [width]="300">
        <app-pages *sideBarItem="'页面'" [project]="project"[graph]="canvas.graph" (onPageChange)="handlePageChange($event)"></app-pages>
        <app-widgets *sideBarItem="'控件'" [canvas]="canvas"></app-widgets>
        <app-components *sideBarItem="'组件'" [canvas]="canvas"></app-components>
        <app-galleries *sideBarItem="'相册'" [canvas]="canvas"></app-galleries>
        <app-elements *sideBarItem="'图元'" [canvas]="canvas"></app-elements>
        <!--        <app-layers *sideBarItem="'图层'" [renderer]="renderer"></app-layers>-->
        <app-sources *sideBarItem="'数据源'"></app-sources>
    </app-side-bar>
    <div class="content">
        <app-canvas #canvas [page]="project.pages[index]"
                      [style.width]="project.pages[index].width*scale+'px'"
                      [style.height]="project.pages[index].height*scale+'px'"></app-canvas>
    </div>
    <app-side-bar [width]="400" [right]="true">
        <app-props *sideBarItem="'属性'" [canvas]="canvas"></app-props>
<!--        <app-animations *sideBarItem="'动画'"></app-animations>-->
        <app-listeners *sideBarItem="'事件'" [canvas]="canvas"></app-listeners>
        <app-scripts *sideBarItem="'脚本'"></app-scripts>
    </app-side-bar>
</div>
